@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/autoplay";

/* Variables globales personalizadas */
@theme {
  --color-beige: #E6E3dc;
  --color-gold: #c2a676;
  --color-chocolate: #504235;

  --font-serif: 'Instrument Serif', serif;
  --font-cursive: 'Monsieur La Doulaise', cursive;
}

/* Fuente base y colores */
html, body {
  font-family: var(--font-serif);
  background-color: var(--color-beige);
  color: var(--color-chocolate);
  overflow-x: hidden;
}

/* Forzar tipografía serif */
body, p, h1, h2, h3, h4, h5, h6, span {
  font-family: var(--font-serif) !important;
}

/* Tipografía cursiva */
.font-cursive {
  font-family: var(--font-cursive) !important;
}

.slider-track {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.slide {
  position: relative;
  min-width: 350px;
  height: 485px;
  margin-right: 10px;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
